/*---------------------------------------------------
1: Variables & Common styling
2: Layout / Grid
3: Form styling
4: Table styles
5: Page specific styles
---------------------------------------------------*/



p {
    line-height: 1.5;
    margin: 0;
}





a {
    font-family: arial;
    text-align: center;
    text-decoration: none;
    z-index: 1;
    color: white;
    font-size: 3.5vw;
}

a:hover {
    font-family: arial;
    text-align: center;
    text-decoration: none;
    z-index: 1;
    color: var(--color-light3);
    font-size: 3.5vw;
}



body {
    font-family: arial;
}


/*---------------------------------------------------
1: Variables & Common styling
---------------------------------------------------*/
/*Variables*/
:root {
    --color-dark1: #3F3140;
    --color-dark2: #4E4150;
    --color-dark3: #5e5060;
    --color-dark4: #726574;
    --color-light1: #A66769;
    --color-light2: #EA847C;
    --color-light3: #FFB4AA;
}

/*Common styling classes*/
.rounded {
    border-radius: 30px;
}
















/*----------------------------- JULIE --------------------------------------------------------*/

/*------------------------------------ FORSIDE ----------------------------------- */
.overskrifter {
    background-color: var(--color-dark3);
    color: white;
    cursor: pointer;
    padding: 5vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
    margin-left: 2vw;
    margin-right: 2vw;
    border: none;
    text-align: left;
    outline: none;
    font-family: arial;
    transition: 0.4s;
}





/*------------------------------------ AFLEVERINGER -----------------------------------*/

.temapage {
    margin: 0;
    background-color: var(--color-dark2);

}




.semester {
    position: relative;
    background-color: var(--color-dark1);
    color: white;
    padding: 10vw;
    padding-bottom: 10vw;


}

h1 {
    font-family: arial;
    text-align: center;
    text-decoration: underline;
    z-index: 1;
    font-size: 6vw;
}






.box100 {
    background-color: var(--color-light1);
    padding: 1vw;
}

.accordion {
    margin-top: 2vw;
}

.undertema {
    background-color: var(--color-light1);
    color: white;
    cursor: pointer;
    padding: 2vw;
    margin-top: 1vw;
    margin-bottom: 3vw;
    width: 95%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 3.5vw;
    font-family: arial;
    transition: 0.4s;
}

.return {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    width: 10vw;
    height: 10vw;
    top: 10vw;
    left: 5vw;
    z-index: 2;
}

/*
.return {
    background-image: url(Artboard1.svg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    width: 10vw;
    height: 10vw;
    top: 4.5vw;
    left: 5vw;
    z-index: 2;
    transform: rotate(270deg);
}
*/



/*---------------------------- ACCORDION ----------------------------*/

.accordion {
    background-color: var(--color-dark3);
    color: white;
    cursor: pointer;
    padding: 5vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
    margin-left: 2vw;
    width: 96%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 3.5vw;
    font-family: arial;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: var(--color-dark4);
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: var(--color-dark2);
    overflow: hidden;
    color: white;
}



















/*----------------------------- REGITZE --------------------------------------------------------*/

/*---------------------------------------------------
2: Layout / Grid
---------------------------------------------------*/
/*Grid container*/

label,
input[type=findbruger] {
    right: 140vw;
    top: 66vw;
    width: 40vw;
    position: static;
}

.container rounded {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    justify-items: center;
}

.logo {
    margin-top: 170px;
    margin-bottom: 150px;
    margin-right: 50px;
    margin-left: 50px;
}

.logo2 {
    height: 10vw;
    width: 10vw;
}


/*Grid column items*/
.frontervskeatitle {
    grid-column-start: 2;
    grid-column-end: 6;
}

/*loginpage*/
.loginform {
    margin: 10px;
    padding: 10px;
    width: 400px;
}

.glemtpassword {
    margin-top: 100px;
    margin-bottom: 150px;
    margin-left: 10px;
}

x

/*loginpage grid*/
.formgroup {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}


.formgroup input {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #3F3140;
    color: white;

}

.formgroup,
.glemtpassword {
    margin-bottom: 2em;

}

/*afleveringer page*/

/*---------------------------------------------------
3: Form styling
---------------------------------------------------*/



label,
input[type=text],
input[type=email],
input[type=password],
input[type=submit] {
    padding: 1em;
}



input[type=text],
input[type=email],
input[type=password] {
    border: 1px solid #3F3140;
    border-radius: 7px;
    font-size: 1em;
    font: color white;
    margin-right: 10px;
    width: 100%;

}


input[type=text],
input[type=email] {
    border: 1px solid #3F3140;
    border-radius: 7px;
    font-size: 1em;
    background-image: url("Profile.png");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 45px;
}


input[type=password],
input[type=email] {
    border: 1px solid #3F3140;
    border-radius: 7px;
    font-size: 1em;
    background-image: url("Lock.png");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 45px;
}


input[type=submit] {
    border: 2px solid #3F3140;
    background-color: var(--color-dark1);
    color: white;
    transition: background-color 0.5s, color 0.5s;
    border-radius: 7px;
    width: 50%;
    height: 90%;
    font-size: 1em;
    margin-left: 180px;

}

input[type=submit]:hover {
    color: #3F3140;
    background-color: var(--color-light1);
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
    border: 3px solid var(--color-light1);
    outline: -webkit-focus-ring-color auto 0;
}


/*---------------------------------------------------
5: Page specific styles
---------------------------------------------------*/
/*Login page*/
.loginpage {
    background-image: linear-gradient(#3F3140, #4E4150, #A66769, #EA847C);
    background-repeat: no-repeat;
    display: flex;
    justify-items: center;
    font-family: Arial;
    color: white;
}

/*Glemt password page*/

.glemtpasswordpage {
    background-image: linear-gradient(#3F3140, #4E4150, #A66769, #EA847C);
    background-repeat: no-repeat;
    display: flex;
    justify-items: center;
    font-family: Arial;
    color: white;
}

label[for=findbruger] {
    padding-left: 0;
}

/*Vælg log in page*/

.vaelgloginpage {
    background-image: linear-gradient(#3F3140, #4E4150, #A66769, #EA847C);
    background-repeat: no-repeat;
    display: flex;
    justify-items: center;
    font-family: Arial;
    color: white;
}

.knap1 {
    background-color: #3F3140;
    border: 2px solid #3F3140;
    border-radius: 7px;
    color: white;
    padding: 12px 90px;
    margin-bottom: 30px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    justify-content: center;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.knap2 {
    background-color: #3F3140;
    border: 2px solid #3F3140;
    border-radius: 7px;
    color: white;
    padding: 12px 90px 12px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    justify-content: center;
    margin-bottom: 100px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.knap1:hover {
    color: #3F3140;
    background-color: var(--color-light1);
}


.knap2:hover {
    color: #3F3140;
    background-color: var(--color-light1);
}

@media screen and (min-width: 500px) {
    body {
        justify-content: center;
        display: flex;
    }
}

/*-------------------------------------LOGIN SLUT----------------------------------------*/


























/*----------------------------- NATALIE --------------------------------------------------------*/

/*Forside*/
.tekst {
    color: white;
    font-size: 5vw;
    font-family: "arial";
}

.container {
    border: 0.1vw solid black;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    height: 178vw;


}

.logo2 {
    background-image: url(kealogo2.svg);
    background-repeat: no-repeat;
    width: 50vw;
    height: 20vw;
    top: 3vw;
    left: 25vw;
    position: absolute;
}

.forsidebox0 {
    height: 20vw;
    width: 88vw;
    top: 0vw;
    left: 10vw;

    background-image: url(kealogo.png);
    background-color: var(--color-dark1);
    background-repeat: no-repeat;
    position: absolute;



}

.forsidetext0 {
    position: absolute;
    top: 12vw;
    left: 45vw;


}


.forsidebox1 {
    border-top: solid black 0.2vw;
    height: 18vw;
    width: 100vw;
    background-color: var(--color-dark2);
    flex-grow: 1;

}

.forsidetext1 {
    position: absolute;
    top: 34vw;
    left: 42vw;
}

.ikon1 {
    position: absolute;
    top: 34vw;
    left: 22vw;
}


.forsidebox2 {
    border-top: solid black 0.2vw;
    height: 18vw;
    width: 100vw;
    background-color: var(--color-dark2);
    flex-grow: 1;
}


.forsidetext2 {
    position: absolute;
    top: 52vw;
    left: 37vw;
}

.ikon2 {
    position: absolute;
    top: 52vw;
    left: 22vw;
}

.forsidebox3 {
    border-top: solid black 0.2vw;
    height: 18vw;
    width: 100vw;
    background-color: var(--color-dark2);
    flex-grow: 1;
}

.forsidetext3 {
    position: absolute;
    top: 71vw;
    left: 39vw;
}

.ikon3 {
    position: absolute;
    top: 71vw;
    left: 22vw;
}

.forsidebox4 {
    border-top: solid black 0.2vw;
    height: 18vw;
    width: 100vw;
    background-color: var(--color-dark2);
    flex-grow: 1;
}

.forsidetext4 {
    position: absolute;
    top: 89vw;
    left: 39vw;
}

.ikon4 {
    position: absolute;
    top: 89vw;
    left: 22vw;
}

.forsidebox5 {
    border-top: solid black 0.2vw;
    height: 18vw;
    width: 100vw;
    background-color: var(--color-dark2);
    flex-grow: 1;
}

.forsidetext5 {
    position: absolute;
    top: 107vw;
    left: 36vw;
}

.ikon5 {
    position: absolute;
    top: 106vw;
    left: 22vw;
}

.forsidebox6 {
    border-top: solid black 0.2vw;
    height: 18vw;
    width: 100vw;
    background-color: var(--color-dark2);
    flex-grow: 1;
}

.forsidetext6 {
    position: absolute;
    top: 125vw;
    left: 37vw;
}

.ikon6 {
    position: absolute;
    top: 125vw;
    left: 22vw;
}

.forsidebox7 {
    border-top: solid black 0.2vw;
    height: 18vw;
    width: 100vw;
    background-color: var(--color-dark2);
    flex-grow: 1;
}

.forsidetext7 {
    position: absolute;
    top: 143vw;
    left: 34vw;
}

.ikon7 {
    position: absolute;
    top: 143vw;
    left: 22vw;
}

.forsidebox8 {
    border-top: solid black 0.2vw;
    height: 20vw;
    width: 100vw;
    background-color: var(--color-dark2);
    flex-grow: 1;
}

.forsidetext8 {
    position: absolute;
    top: 161vw;
    left: 43vw;
}

.ikon8 {
    position: absolute;
    top: 161vw;
    left: 22vw;
}

/*forside slut*/



























/*----------------------------- JACK --------------------------------------------------------*/


/*
.menuicon {
    width: 2em;
    height: auto;

    position: absolute;
    top: 0vw;
    left: 90vw;

}
*/


.content {
    background-color: var(--color-dark2);
}

.text2 {
    text-align: left;
}



/*----------------- MENUBAR ---------------*/

.menu_bar {
    background-color: var(--color-dark1);
    width: 100vw;
    height: 20vw;
    color: white;
    text-decoration: underline;
    font-style: ariel;
    margin-top: -5vw;

}



/*---------------- TEMA 01 ---------------*/



/*---------------- box1 ---------------*/





/*---------------------------------------------------
2: Layout / Grid
---------------------------------------------------*/
/*Variables*/



/*---------------------------------------------------
3: Form styling
'---------------------------------------------------*/
/*Variables*/


/*---------------------------------------------------
4: Table styles
'---------------------------------------------------*/
/*Variables*/
table {
    background-color: var
}


/*---------------------------------------------------
5: Page specific styles
'---------------------------------------------------*/
/*Variables*/

















/*---------------------------------------- NICK -------------------------------------*/



* {
    box-sizing: border-box;
}

.sectionwrapper {
    /*    display: block;*/
    flex-wrap: wrap;
    position: relative;
    background-color: var(--color-dark2);
    height: 177vw;
}

.header {
    flex-grow: 1;
    flex-basis: 200vw;
    background-color: var(--color-dark1);
    /*    height: 30vw;*/
    text-align: center;
    padding: 4vw;
    height: 25vw;
}

.header h1 {
    color: white;
    margin-top: 6vw;
}


.box {
    flex-grow: 1;
    flex-basis: 200vw;
    background-color: var(--color-light1);
    border: 2px solid white;
    align-items: center;
    /*    padding: 8vw;*/
    text-align: center;
}

.tema {
    /*
    flex-grow: 1;
    flex-basis: 200vw;
    background-color: var(--color-light1);
    align-items: center;
    padding: 5vw;
    text-align: center;
*/

    background-color: var(--color-dark3);
    color: white;
    cursor: pointer;
    padding: 5vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
    margin-left: 2vw;
    width: 96%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 3.5vw;
    font-family: arial;
    transition: 0.4s;
}


.tema:hover {}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn {
    border: 2px solid var(--color-dark1);
    color: var(--color-dark1);
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.btn_send {
    border: 2px solid var(--color-dark1);
    color: var(--color-dark1);
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.upload-btn-wrapper input[type=file] {
    height: 10vw;
    width: 32vw;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}



h2 {
    font-size: 4vw;
    margin: 0;
}

h2:hover {
    text-decoration: underline;
    cursor: pointer;
}

h3 {
    font-size: 4vw;
    margin: 0;

}

.pil {
    background-image: url(pil.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 10vw;
    height: 10vw;
    position: absolute;
    left: 10vw;
    top: 10vw;

}

.link1 {
    background-image: url(link.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 6vw;
    height: 6vw;
    position: absolute;
    left: 85vw;
    top: 36vw;
}

.link2 {
    background-image: url(link.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 6vw;
    height: 6vw;
    position: absolute;
    left: 85vw;
    top: 53vw;
}

.kryds {
    background-image: url(kryds.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 6vw;
    height: 6vw;
    position: absolute;
    left: 85vw;
    margin: 2vw 0vw;
}

.flueben {
    background-image: url(flueben.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 6vw;
    height: 6vw;
    position: absolute;
    left: 85vw;
    margin: 2vw 0vw;
    top: 95vw;
}

.cirkel {
    background-image: url(cirkel.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 6vw;
    height: 6vw;
    position: absolute;
    left: 85vw;
    top: 95vw;
}














/*-------------------------------- BENJAMIN ----------------------------------------*/

/*MENU START*/

img {
    width: 100%;

}

body {
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

:root {
    --color-dark1: #3F3140;
    --color-dark2: #4E4150;
    --color-light1: #A66769;
    --color-light2: #EA847C;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
    outline: none;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.active {
    background-color: #A66769;
}

.menu {
    background-color: #3F3140;
}

.menu1 {
    background-color: #3F3140;
}

.menu a {
    font-size: 2rem;
    padding-left: 20px;
}

nav li a:hover:not(.active) {
    background-color: #A66769;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #EA847C;
}


nav ul li {
    border-right: 1px solid #bbb;
}

nav ul li:last-child {
    padding-right: 0px;
    border-right: none;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 21.72px 23px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 1px;
}

nav ul li a:hover {
    background-color: #111;
    transition: all 0.5s ease 0s;
}


.toggle-menu ul {
    display: table;
    width: 20px;
}

.toggle-menu ul li {
    width: 7vw;
    height: 1.3vw;
    background-color: white;
    margin-bottom: 4px;
}

.toggle-menu ul li:last-child {
    margin-bottom: 0px;
}

input[type=checkbox],
label {
    display: none;
    top: -4px;
    right: 260px;
}

@media only screen and (max-width: 20000px) {


    input[type=checkbox] {
        position: absolute;
        top: -9999px;
        left: -9999px;
        background: none;
    }

    input[type=checkbox]:focus {
        background: none;
    }

    label {
        z-index: 4;
        display: inline-block;
        cursor: pointer;
        transform: translateX(85vw) translateY(8vw);
        position: fixed;
    }

    input[type=checkbox]:checked ~ nav {
        display: block;
    }

    nav {

        z-index: 2;
        width: 85vw;
        display: none;
        position: fixed;
        top: 0;
        right: 0;


    }

    nav ul {
        width: auto;

    }

    nav ul li {
        float: none;
        padding: 0px;
        width: 100%;
        display: table;
        border: none;
    }

    nav ul li a {
        color: #FFF;
        font-size: 15px;
        border-bottom: 3px solid rgba(225, 225, 225, 0.1);
        text-align: inherit
    }


}

/*MENU SLUT*/
